.SayfaBaşlık
{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid silver;
}

.Tablo 
{
    width: 1350px;
}

.Tablo tr 
{

}

.Tablo tr th 
{
    background-color: #e9e9e9;
    padding: 10px;
    text-align: left;
    border: 1px solid silver;
}

.Tablo tr td 
{
    border: 1px solid silver;
    padding: 10px;
}

.Tablo .Alternate td 
{
    background-color: #efefef;
}

.TabloButon
{
    padding: 8px 5px;
    font-size: 10pt;
    border-radius: 3px;
    text-decoration: none;
}

.TabloButon img 
{
    margin-bottom: -7px;
}

.Düzenle
{
    background-color: #0092ff;
    color: white;
}

.Durum 
{
    background-color: #ffd800;
    color: white;
}

.Sil 
{
    background-color: #ff0000;
    color: white;
}
