*, h1, h2, h3, h4, h5, h6, ul, li, ol 
{
    margin: 0;
    padding: 0;
}

.Body
{
    font-family: Cambria, Verdana, sans-serif;
}

.ÜstÇubuk
{
    background-image: url('../Adminresimler/pyatay.jpg');
    min-height: 40px;
    color: white;
    float: left;
    width: 1318px;
}

.SolMenü
{
    width: 200px;
    height: 680px;
    background-image: url('../Adminresimler/pdikey.jpg');
    background-size: cover;
    float: left;
}

.Users 
{
    width: 100px;
    margin: 20px;
    margin-left: 50px;
    color: blue;
}

.Users:hover 
{
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

.AnaBaşlık
{
    padding: 20px 20px;
    width: 450px;
    float: left;
    margin-left: 400px;
}

.KullanıcıAlanı 
{
    padding: 10px;
    margin: 10px;
    width: 300px;
    float: right;
    margin-right: -150px;
}

.KullanıcıEleman:hover 
{
    color: red;
}

.Anaİçerik
{
    float: left;
    padding: 20px;
}

.Satır
{
    margin-top: 30px;
    margin-left: 20px;
    padding: 5px;
    color: white;
}

.Satır a 
{
    text-decoration: none;
    color: white;
}

.Satır a:hover 
{
    color: red;
    cursor: pointer;
}

.Icon
{
    width: 20px;
    margin-bottom: -3px;
    margin-right: 5px;
}

.Foto 
{
    width: 100px;
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 40px;
}
